.bloglist_items {
  background: transparentize($lightest-purp, 0.4);
  display: flex;
  flex-direction: column;
  width: 40rem;

  margin: 0rem 0 5rem 0;
  color: rgb(255, 255, 255);
  border: $darkest-blue 2px solid;

  align-items: center;
  height: 45rem;
  @media (max-width: $desktop-breakpoint) {
    width: 32rem;
    height: 35rem;
  }

  h1 {
    // padding-top: 2.5rem;
    padding: 2.5rem 3rem;
    margin: 0;
    text-align: center;
    font-size: 150%;
    @media (max-width: $desktop-breakpoint) {
      font-size: 100%;
      width: 80%;
      padding: 1.5rem 1.5rem;
    }
  }

  p {
    white-space: pre-wrap;
    max-height: 15rem;
    overflow: hidden;
    text-align: left;
    margin: 0;

    line-height: 1.5;
    padding: 0.5rem $xl-size;
    @media (max-width: $desktop-breakpoint) {
      max-height: 10rem;
      margin-bottom: 1rem;
    }
  }

  small {
    margin-top: 2rem;
    margin-bottom: 3rem;
    @media (max-width: $desktop-breakpoint) {
      margin: 1rem 0;
    }
  }
}

.bloglist__post {
  @media (max-width: $desktop-breakpoint) {
    position: static;
    margin: 0px;
    padding: 0px;
  }
}

.bloglist__readmore-wrapper {
  margin: 1.5rem 0;
}
