.detailsPhotos__wrapper {
  grid-column: photo;
  grid-row: body;
  overflow-y: scroll;
  height: 100vh;
 
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-template-rows: auto;
}

.detailPhoto__photo-wrapper {
  height: 307px;
  margin-left: 1rem;
  margin-top: 1rem;
  background-size: cover;
}
.detailsPhotos__loading-wrapper {
  display: flex;
  justify-content: center;
}

.detailPhoto-noPhotos {
  width: 100vw;
}
