.details__house-info-container {
  margin-top: 1rem;
  // border: orange solid 2px;
  grid-row: sub;
  grid-column: fullWidth;
  display: flex;
  flex-direction: column;
  align-items: center;

  .price {
    font-size: 32px;
    display: inline-block;
    margin-right: 3rem;
    margin-left: 1rem;
    grid-column: photo;
    @media (max-width: 1096px) {
      font-size: 25px;
    }
  }
  .num {
    font-size: 20px;
    font-weight: 300;
    @media (max-width: 1096px) {
      font-size: 15px;
    }
  }
  .break {
    font-size: 32px;
    color: lightgray;
    font-weight: 250;
    @media (max-width: 1096px) {
      font-size: 25px;
    }
  }
  .abr {
    font-size: 15px;
    @media (max-width: 1096px) {
      font-size: 12px;
    }
  }
}
.details__house-info-spans {
  h3 span {
    @media (max-width: 1096px) {
      font-size: 250%;
    }
  }
}

.details__house-info-address {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  @media (max-width: 1096px) {
    font-size: 15px;
  }
}
