
.details__details-title {
  grid-row: title;
  grid-column: fullWidth;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #c5cfdc;
  border-bottom: 1px lightgray solid;
  h3 {
    font-size: 600%;
    font-family: "Cormorant Garamond", serif;
    color: #061951;
  }
}

.details__details-map {
  grid-row: menuResultsMap;
  grid-column: fullWidth;
  margin-top: 1rem;
}

.detail__detail-button {
  height: 100%;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  button {
    font-size: 200%;
    width: 4rem;
    border: none;
  }
}
