.header {
  display: grid;
  height: 100%;
  background: #546277;

  grid-template-columns: [first] 3fr [logo] 5fr [last-start] 3fr [end];
  grid-template-rows: [full] 100% [end];

  align-items: center;
}

.header__wrapper {
  grid-column: logo;
  grid-row: full;
  display: flex;
  justify-content: center;
}

.header__link {
  h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 1000%;
    font-weight: 500;
    color: #061951;
  }
}

.header__buttonContainer {
}
