//landing
.search__container {
  height: 100%;
  width: 100vw;

  background-image: url("/images/landingHouse.jpg");
  background-size: cover;
  background-position: 50% 75%;
  display: flex;
  justify-content: center;
}

.search__input-wrapper {
}
.search__input {
  width: 40rem;
  height: 4rem;
  font-weight: 600;
  font-size: 23px;
  font-family: "Cormorant Garamond", serif;
  @media (max-width: 425px) {
    width: 25rem;
  }
}
input::placeholder {
  text-align: left;
  font-size: 25px;
  font-weight: 200;
}

.results__container {
  height: 100%;
  width: 100vw;
  margin: 0;

  display: grid;
  grid-template-columns: [map] 50vw [houses] 50vw [end];
  grid-template-rows: [container] auto;
}

.search__scrollbar-removal {
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.search__loadingIndicator-wrapper {
  margin-top: 7rem;

  display: flex;
  justify-content: center;
}

.search__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
