.buttons {
  border: black 1px solid;

  font-weight: 500;
  border: none;
  color: black;
  //so the default inline margin for links wont be in place
  //so that the vertical margin and padding will be in play
  //button will always be on it own line
  display: inline-block;
  //get rid of line
  text-decoration: none;
  line-height: 1;
  width: 5rem;
  border-radius: 4px;
}

//how to make a modifier

.buttons--link {
  background: none;
}

.buttons--post {
}

.buttons--logout {
  background: #c5cfdc;
  padding: 9px 4px;
  width: 7rem;
  font-size: smaller;
  color: #061951;

  &:hover {
    background: lighten($color: #c5cfdc, $amount: 7);
  }
  &:focus {
    outline: none;
    box-shadow: none;
    background: darken($color: #c5cfdc, $amount: 15);
  }
}

.buttons--delete {
  background: rgb(145, 48, 48);
}
