/* .CalendarDay__selected_span {
}

.CalendarDay__selected {
}

.CalendarDay__selected:hover {
}

.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
}

.DateRangePickerInput {
  background-color: rgba(72, 52, 117, 0.4);
}

.DateInput_input {
  font-weight: 200;
  font-size: 15px;
  line-height: 12px;
  color: #ffffff;
  background-color: rgba(133, 89, 136, 1);
  width: 100%;
  padding: 11px 11px 9px;
  border: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 2px solid transparent;
  border-left: 0;
  border-radius: 0;
}


.DateRangePickerInput__withBorder {
  border: 1px #2b2f77 solid;
  border-radius: 0;
} */
