// Colors
$lightest-purp: #855988;
$darker-purp: #6b4984;
$darkest-purp: #483475;
$lightest-blue: #2b2f77;
$darker-blue: #141852;
$darkest-blue: #070b34;
$electric: white;
$blue-button: $darkest-purp;
//Font Size
$font-size-large: 1.8rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
